@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
html{
    background-color: #0A070E;
    color: #CEFF1A;
    font-family: 'Red Hat Mono', monospace;
}
header a{
  color: #CEFF1A;
  text-decoration: none;
}
header{
    background-color: #002923;
    text-align: center;
}

.navbar {
  background-color: #002923;
  overflow: hidden;
  margin-bottom: 10px;
}



/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #CEFF1A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #002923;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #CEFF1A;
  color: #0A070E;
}

.navbar a.side{
    float: right;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #CEFF1A;
  color: white;
}
main{
    float: left;
    margin-bottom: 20px;
}

article{
    background-color: #104129;
}

article img{
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

article h1{
    text-align: center;
}
article span{
 background-color: #002923;
}


article{
    float: left;
    width: 24%;
    margin-right: 10px;
    color: #CEFF1A;
}

aside {
  width: 30%;
  margin-top: 30px;
  margin-right: 30px;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  font-style: italic;
  background-color: #104129;
}

aside h1+p{
  color: #F4F4F6;

}
.iframes{
  float: right;
  width: 65%;
  margin: 0%;
}

a{
  color: #CEFF1A;
  text-decoration: none;
}


